{% extends "main/header.html" %} {% load static %} {% block content %}

<div class="d-sm-flex justify-content-between align-items-center mb-4" style="margin-top: 25px">
    <h2 class="text-dark font-weight-bolder mb-0" style="margin-left: 25px">
        Bead Winder
    </h2>
</div>
<div class="row flex-lg-fill">
    <div class="col-lg-6 col-xl-8">
        <div class="card shadow mb-4">
            <div class="card-body pb-0">
                <!-- Title -->
                <h4 class="card-title font-weight-bold m-0" style="color: #4e73df">
                    Temperature
                </h4>
                <!-- Text -->
                <p class="card-text mb-4 text-right" id="bead_date"></p>
                <p class="display-5">Current reading:</p>
                <div class="row">
                    <p class="display-4 font-weight-bold" id="bead_val"></p>
                    <p class="display-4 font-weight-bold" id="bead_unit">°C</p>
                </div>
            </div>
        </div>
        <div class="card shadow mb-4">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h4 class="text-primary font-weight-bold m-0">Temperature</h4>
            </div>
            <div class="card-body">
                <div class="chart-area">
                    <canvas id="beadChart1"></canvas>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-6 col-xl-4">
        <div class="card shadow mb-4">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h4 class="text-primary font-weight-bold m-0">Temperature</h4>
            </div>
            <div class="card-body">
                <div class="chart-area">
                    <canvas id="beadChart2"></canvas>
                </div>
                <div class="text-center small mt-4">
                    <span class="mr-2"><i class="fas fa-circle text-success"></i>&nbsp;Success</span><span
                        class="mr-2"><i class="fas fa-circle text-warning"></i>&nbsp;Warning</span><span class="mr-2"><i
                            class="fas fa-circle text-danger"></i>&nbsp;Danger</span>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var ctx1 = document.getElementById('beadChart1').getContext('2d');
    var ctx2 = document.getElementById('beadChart2').getContext('2d');

    function bead_request() {

        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {

                // Typical action to be performed when the document is ready:
                var data = JSON.parse(xhttp.responseText);
                document.getElementById("bead_val").innerText = data.temperature
                document.getElementById("bead_date").innerText = data.dateinserted
                document.getElementById("bead_val").style.color = Bead_Temp(data.temperature);
                document.getElementById("bead_unit").style.color = Bead_Temp(data.temperature);
                var chart1 = {
                    "type": "line", "data": { "labels": data.beaddateList, "datasets": [{ "label": "Width", "fill": true, "data": data.beadList, "backgroundColor": "rgba(78, 115, 223, 0.05)", "borderColor": "rgba(78, 115, 223, 1)" }] }, "options": {
                        "maintainAspectRatio": false, "legend": { "display": true }, "title": {}, "scales": {
                            "xAxes": [{
                                "gridLines": {
                                    "color": "rgb(234, 236, 244)", "zeroLineColor": "rgb(234, 236, 244)", "drawBorder": false, "drawTicks": false, "borderDash": [
                                        "2"], "zeroLineBorderDash": ["2"], "drawOnChartArea": false
                                }, "ticks": { "fontColor": "#858796", "padding": 20 }
                            }], "yAxes": [{ "gridLines": { "color": "rgb(234, 236, 244)", "zeroLineColor": "rgb(234, 236, 244)", "drawBorder": false, "drawTicks": false, "borderDash": ["2"], "zeroLineBorderDash": ["2"] }, "ticks": { "fontColor": "#858796", "padding": 20 } }]
                        }
                    }
                }
                var chart2 = { "type": "doughnut", "data": { "labels": ["Success", "Warning", "Danger"], "datasets": [{ "label": "", "backgroundColor": ["green", "orange", "red"], "borderColor": ["#ffffff", "#ffffff", "#ffffff"], "data": data.beadCount }] }, "options": { "maintainAspectRatio": false, "legend": { "display": false }, "title": {} } }
                var myChart1 = new Chart(ctx1, chart1);
                var myChart2 = new Chart(ctx2, chart2);
            }
        };
        xhttp.open("GET", "/bead_json", true);
        xhttp.send();
    }
    setInterval(bead_request, 10000);
    bead_request()
</script>

{% endblock %}