{% extends "main/header.html" %} {% load static %} {% block content %}

<div class="d-sm-flex justify-content-between align-items-center mb-4" style="margin-top: 25px">
    <h2 class="text-dark font-weight-bolder mb-0" style="margin-left: 25px;">
        Dashboard
    </h2>
</div>
<div class="row">
    <div class="col-lg-6 col-xl-6">
        <div class="card shadow mb-4">
            <!-- Title -->
            <div class="card-header d-flex justify-content-between align-items-center">
                <h3 class="text-primary font-weight-bold m-0">Banbury Mixer</h3>
            </div>
            <div class="card-body">
                <!-- Text -->
                <div class="row">
                    <div class="col-8">
                        <h4 class="font-weight-bold">
                            Sheet Width
                        </h4>
                    </div>
                    <div class="col-4">
                        <p class="card-text mb-4 text-right" id="dash_ban_date"></p>
                    </div>
                </div>
                <p class="display-5">Current reading:</p>
                <div class="row">
                    <p class="display-4 font-weight-bold" id="dash_ban_val"></p>
                    <p class="display-4 font-weight-bold" id="dash_ban_unit">mm</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-xl-6">
        <div class="card shadow mb-4">
            <!-- Title -->
            <div class="card-header d-flex justify-content-between align-items-center">
                <h3 class="text-primary font-weight-bold m-0">Fabric Calendar</h3>
            </div>
            <div class="card-body">
                <!-- Text -->
                <div class="row">
                    <div class="col-8">
                        <h4 class="font-weight-bold text-left">
                            Heated Roller Temperature
                        </h4>
                    </div>
                    <div class="col-4">
                        <p class="card-text mb-4 text-right" id="dash_fab_date1"></p>
                    </div>
                </div>
                <p class="display-5">Current reading:</p>
                <div class="row">
                    <p class="display-4 font-weight-bold" id="dash_fab_temp"></p>
                    <p class="display-4 font-weight-bold" id="dash_fab_Tunit">°C</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-6 col-xl-6">
        <div class="card shadow mb-4">
            <!-- Title -->
            <div class="card-header d-flex justify-content-between align-items-center">
                <h3 class="text-primary font-weight-bold m-0">Fabric Calendar</h3>
            </div>
            <div class="card-body">
                <!-- Text -->
                <div class="row">
                    <div class="col-8">
                        <h4 class="font-weight-bold">
                            Width
                        </h4>
                    </div>
                    <div class="col-4">
                        <p class="card-text mb-4 text-right" id="dash_fab_date2"></p>
                    </div>
                </div>
                <p class="display-5">Current reading:</p>
                <div class="row font-success">
                    <p class="display-4 font-weight-bold" id="dash_fab_w"></p>
                    <p class="display-4 font-weight-bold" id="dash_fab_Wunit">mm</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-xl-6">
        <div class="card shadow mb-4">
            <!-- Title -->
            <div class="card-header d-flex justify-content-between align-items-center">
                <h3 class="text-primary font-weight-bold m-0">Bead Winder</h3>
            </div>
            <div class="card-body">
                <!-- Text -->
                <div class="row">
                    <div class="col-8">
                        <h4 class="font-weight-bold">
                            Temperature
                        </h4>
                    </div>
                    <div class="col-4">
                        <p class="card-text mb-4 text-right" id="dash_bead_date"></p>
                    </div>
                </div>
                <p class="display-5">Current reading:</p>
                <div class="row">
                    <p class="display-4 font-weight-bold" id="dash_bead_val"></p>
                    <p class="display-4 font-weight-bold" id="dash_bead_unit">°C</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-6 col-xl-6">
        <div class="card shadow mb-4">
            <!-- Title -->
            <div class="card-header d-flex justify-content-between align-items-center">
                <h3 class="text-primary font-weight-bold m-0">Treading Cutter</h3>
            </div>
            <div class="card-body">
                <!-- Text -->
                <div class="row">
                    <div class="col-8">
                        <h4 class="font-weight-bold">
                            Position Error
                        </h4>
                    </div>
                    <div class="col-4">
                        <p class="card-text mb-4 text-right" id="dash_tread_date1"></p>
                    </div>
                </div>
                <p class="display-5">Current reading:</p>
                <div class="row font-success">
                    <p class="display-4 font-weight-bold" id="dash_tread_pos"></p>
                    <p class="display-4 font-weight-bold" id="dash_tread_unit1">mm</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-xl-6">
        <div class="card shadow mb-4">
            <!-- Title -->
            <div class="card-header d-flex justify-content-between align-items-center">
                <h3 class="text-primary font-weight-bold m-0">Treading Cutter</h3>
            </div>
            <div class="card-body">
                <!-- Text -->
                <div class="row">
                    <div class="col-8">
                        <h4 class="font-weight-bold">
                            Speed Error
                        </h4>
                    </div>
                    <div class="col-4">
                        <p class="card-text mb-4 text-right" id="dash_tread_date2"></p>
                    </div>
                </div>
                <p class="display-5">Current reading:</p>
                <div class="row">
                    <p class="display-4 font-weight-bold" id="dash_tread_speed"></p>
                    <p class="display-4 font-weight-bold" id="dash_tread_unit2">mmps</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-6 col-xl-6">
        <div class="card shadow mb-4">
            <!-- Title -->
            <div class="card-header d-flex justify-content-between align-items-center">
                <h3 class="text-primary font-weight-bold m-0">Curing Machine</h3>
            </div>
            <div class="card-body">
                <!-- Text -->
                <div class="row">
                    <div class="col-8">
                        <h4 class="font-weight-bold">
                            Moulding Time
                        </h4>
                    </div>
                    <div class="col-4">
                        <p class="card-text mb-4 text-right" id="dash_cur_date1"></p>
                    </div>
                </div>
                <p class="display-5">Current reading:</p>
                <div class="row font-success">
                    <p class="display-4 font-weight-bold" id="dash_cur_time"></p>
                    <p class="display-4 font-weight-bold" id="dash_cur_unit1">minutes</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-xl-6">
        <div class="card shadow mb-4">
            <!-- Title -->
            <div class="card-header d-flex justify-content-between align-items-center">
                <h3 class="text-primary font-weight-bold m-0">Curing Machine</h3>
            </div>
            <div class="card-body">
                <!-- Text -->
                <div class="row">
                    <div class="col-8">
                        <h4 class="font-weight-bold">
                            Moulding Temperature
                        </h4>
                    </div>
                    <div class="col-4">
                        <p class="card-text mb-4 text-right" id="dash_cur_date2"></p>
                    </div>
                </div>
                <p class="display-5">Current reading:</p>
                <div class="row">
                    <p class="display-4 font-weight-bold" id="dash_cur_temp"></p>
                    <p class="display-4 font-weight-bold" id="dash_cur_unit2">°C</p>
                </div>
            </div>
        </div>
    </div>
</div>

<script>


    setInterval(dash_request, 10000);
    dash_request()

    setInterval(ban_alert, 10000);
    setInterval(fab_alert, 10000);
    setInterval(bead_alert, 10000);
    setInterval(tread_alert, 10000);
    setInterval(cur_alert, 10000);
    ban_alert();
    cur_alert();
    tread_alert();
    bead_alert();
    fab_alert();
</script>

{% endblock %}