{% extends "main/header.html" %} {% load static %} {% block content %}

<div class="d-sm-flex justify-content-between align-items-center mb-4" style="margin-top: 25px">
    <h2 class="text-dark font-weight-bolder mb-0" style="margin-left: 25px">
        Fabric Calendar
    </h2>
</div>
<div class="row flex-lg-fill">
    <div class="col-lg-6 col-xl-8">
        <div class="card shadow mb-4">
            <div class="card-body pb-0">
                <!-- Title -->
                <h4 class="card-title font-weight-bold m-0" style="color: #4e73df">
                    Heated Roller Temperature
                </h4>
                <!-- Text -->
                <p class="card-text mb-4 text-right" id="fab_date1"></p>
                <p class="display-5">Current reading:</p>
                <div class="row">
                    <p class="display-4 font-weight-bold" id="fab_temp"></p>
                    <p class="display-4 font-weight-bold" id="fab_Tunit">°C</p>
                </div>
            </div>
        </div>
        <div class="card shadow mb-4">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h4 class="text-primary font-weight-bold m-0">Temperature</h4>
            </div>
            <div class="card-body">
                <div class="chart-area">
                    <canvas id="fabchart1"></canvas>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-6 col-xl-4">
        <div class="card shadow mb-4">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h4 class="text-primary font-weight-bold m-0">Temperature</h4>
            </div>
            <div class="card-body">
                <div class="chart-area">
                    <canvas id="fabchart2"></canvas>
                </div>
                <div class="text-center small mt-4">
                    <span class="mr-2"><i class="fas fa-circle text-success"></i>&nbsp;Success</span><span
                        class="mr-2"><i class="fas fa-circle text-warning"></i>&nbsp;Warning</span><span class="mr-2"><i
                            class="fas fa-circle text-danger"></i>&nbsp;Danger</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row flex-lg-fill">
    <div class="col-lg-6 col-xl-8">
        <div class="card shadow mb-4">
            <div class="card-body pb-0">
                <!-- Title -->
                <h4 class="card-title font-weight-bold m-0" style="color: #4e73df">
                    Width
                </h4>
                <!-- Text -->
                <p class="card-text mb-4 text-right" id="fab_date2"></p>
                <p class="display-5">Current reading:</p>
                <div class="row">
                    <p class="display-4 font-weight-bold" id="fab_w"></p>
                    <p class="display-4 font-weight-bold" id="fab_Wunit">mm</p>
                </div>
            </div>
        </div>
        <div class="card shadow mb-4">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h4 class="text-primary font-weight-bold m-0">Width</h4>
            </div>
            <div class="card-body">
                <div class="chart-area">
                    <canvas id="fabchart3"></canvas>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-6 col-xl-4">
        <div class="card shadow mb-4">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h4 class="text-primary font-weight-bold m-0">Width</h4>
            </div>
            <div class="card-body">
                <div class="chart-area">
                    <canvas id="fabchart4"></canvas>
                </div>
                <div class="text-center small mt-4">
                    <span class="mr-2"><i class="fas fa-circle text-success"></i>&nbsp;Success</span><span
                        class="mr-2"><i class="fas fa-circle text-warning"></i>&nbsp;Warning</span><span class="mr-2"><i
                            class="fas fa-circle text-danger"></i>&nbsp;Danger</span>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var ctx1 = document.getElementById('fabchart1').getContext('2d');
    var ctx2 = document.getElementById('fabchart2').getContext('2d');
    var ctx3 = document.getElementById('fabchart3').getContext('2d');
    var ctx4 = document.getElementById('fabchart4').getContext('2d');

    function fab_request() {

        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {

                // Typical action to be performed when the document is ready:
                var data = JSON.parse(xhttp.responseText);
                document.getElementById('fab_temp').innerText = data.fab_temp
                document.getElementById('fab_date1').innerText = data.fab_date
                document.getElementById("fab_temp").style.color = Fab_Temp(data.fab_temp);
                document.getElementById("fab_Tunit").style.color = Fab_Temp(data.fab_temp);

                document.getElementById('fab_w').innerText = data.fab_w
                document.getElementById('fab_date2').innerText = data.fab_date
                document.getElementById("fab_w").style.color = Fab_W(data.fab_w);
                document.getElementById("fab_Wunit").style.color = Fab_W(data.fab_w);

                var chart1 = {
                    "type": "line", "data": { "labels": data.fabdateList, "datasets": [{ "label": "Width", "fill": true, "data": data.fabList1, "backgroundColor": "rgba(78, 115, 223, 0.05)", "borderColor": "rgba(78, 115, 223, 1)" }] }, "options": {
                        "maintainAspectRatio": false, "legend": { "display": true }, "title": {}, "scales": {
                            "xAxes": [{
                                "gridLines": {
                                    "color": "rgb(234, 236, 244)", "zeroLineColor": "rgb(234, 236, 244)", "drawBorder": false, "drawTicks": false, "borderDash": [
                                        "2"], "zeroLineBorderDash": ["2"], "drawOnChartArea": false
                                }, "ticks": { "fontColor": "#858796", "padding": 20 }
                            }], "yAxes": [{ "gridLines": { "color": "rgb(234, 236, 244)", "zeroLineColor": "rgb(234, 236, 244)", "drawBorder": false, "drawTicks": false, "borderDash": ["2"], "zeroLineBorderDash": ["2"] }, "ticks": { "fontColor": "#858796", "padding": 20 } }]
                        }
                    }
                }
                var chart2 = { "type": "doughnut", "data": { "labels": ["Success", "Warning", "Danger"], "datasets": [{ "label": "", "backgroundColor": ["green", "orange", "red"], "borderColor": ["#ffffff", "#ffffff", "#ffffff"], "data": data.fabCount1 }] }, "options": { "maintainAspectRatio": false, "legend": { "display": false }, "title": {} } }

                var chart3 = {
                    "type": "line", "data": { "labels": data.fabdateList, "datasets": [{ "label": "Width", "fill": true, "data": data.fabList2, "backgroundColor": "rgba(78, 115, 223, 0.05)", "borderColor": "rgba(78, 115, 223, 1)" }] }, "options": {
                        "maintainAspectRatio": false, "legend": { "display": true }, "title": {}, "scales": {
                            "xAxes": [{
                                "gridLines": {
                                    "color": "rgb(234, 236, 244)", "zeroLineColor": "rgb(234, 236, 244)", "drawBorder": false, "drawTicks": false, "borderDash": [
                                        "2"], "zeroLineBorderDash": ["2"], "drawOnChartArea": false
                                }, "ticks": { "fontColor": "#858796", "padding": 20 }
                            }], "yAxes": [{ "gridLines": { "color": "rgb(234, 236, 244)", "zeroLineColor": "rgb(234, 236, 244)", "drawBorder": false, "drawTicks": false, "borderDash": ["2"], "zeroLineBorderDash": ["2"] }, "ticks": { "fontColor": "#858796", "padding": 20 } }]
                        }
                    }
                }
                var chart4 = { "type": "doughnut", "data": { "labels": ["Success", "Warning", "Danger"], "datasets": [{ "label": "", "backgroundColor": ["green", "orange", "red"], "borderColor": ["#ffffff", "#ffffff", "#ffffff"], "data": data.fabCount2 }] }, "options": { "maintainAspectRatio": false, "legend": { "display": false }, "title": {} } }

                var myChart1 = new Chart(ctx1, chart1);
                var myChart2 = new Chart(ctx2, chart2);
                var myChart3 = new Chart(ctx3, chart3);
                var myChart4 = new Chart(ctx4, chart4);

            }
        };
        xhttp.open("GET", "/fab_json", true);
        xhttp.send();
    }
    setInterval(fab_request, 10000);
    fab_request()
</script>

{% endblock %}