{% load static %}
<!DOCTYPE html>
<html>

<head>
    <!--<meta http-equiv="refresh" content="3">-->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <title>Scout</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" />
    <link rel="stylesheet" href="{% static 'fonts/fontawesome-all.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/sidebar.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/css/toastr.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/js/toastr.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!--<script src="{% static 'js/chart.min.js' %}"></script>-->
    <script src="{% static 'js/bs-init.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
    <script src="{% static 'js/sidebar.js' %}"></script>
    <script src="{% static 'js/theme.js' %}"></script>

    <script>
        function Ban_Value(val) {
            if (val < 24 && val >= 16) {
                return "green";
            } else if (val == 24 || val == 16) {
                return "orange";
            } else {
                return "red";
            }
        }

        function Fab_Temp(val) {
            if (val < 600 && val > 500) {
                return "green";
            } else if (val == 600 || val == 500) {
                return "orange";
            } else {
                return "red";
            }
        }

        function Fab_W(val) {
            if (val < 1.5 && val > 0.5) {
                return "green";
            } else if (val == 1.5 || val == 0.5) {
                return "orange";
            } else {
                return "red";
            }
        }

        function Bead_Temp(val) {
            if (val < 700 && val > 600) {
                return "green";
            } else if (val == 700 || val == 600) {
                return "orange";
            } else {
                return "red";
            }
        }

        function Tread_Pos(val) {
            if (val < 2 && val > -2) {
                return "green";
            } else if (val == 2 || val == -2) {
                return "orange";
            } else {
                return "red";
            }
        }

        function Tread_Speed(val) {
            if (val < 3 && val > -3) {
                return "green";
            } else if (val == 3 || val == -3) {
                return "orange";
            } else {
                return "red";
            }
        }

        function Cur_Time(val) {
            if (val < 35 && val > 30) {
                return "green";
            } else if (val == 35 || val == 30) {
                return "orange";
            } else {
                return "red";
            }
        }

        function Cur_Temp(val) {
            if (val < 250 && val > 200) {
                return "green";
            } else if (val == 250 || val == 200) {
                return "orange";
            } else {
                return "red";
            }
        }
    </script>
    <script>
        toastr.options.tapToDismiss = false;
        toastr.options.timeOut = 10000;

        function ban_request() {
            var ctx1 = document.getElementById("banChart1").getContext("2d");
            var ctx2 = document.getElementById("banChart2").getContext("2d");

            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    // Typical action to be performed when the document is ready:
                    var data = JSON.parse(xhttp.responseText);
                    document.getElementById("ban_val").innerText = data.sheet_width;
                    document.getElementById("datetime").innerText = data.dateinserted;
                    document.getElementById("ban_val").style.color = Ban_Value(
                        data.sheet_width
                    );
                    document.getElementById("ban_unit").style.color = Ban_Value(
                        data.sheet_width
                    );
                    var chart1 = {
                        type: "line",
                        data: {
                            labels: data.bandateList,
                            datasets: [
                                {
                                    label: "Width",
                                    fill: true,
                                    data: data.banList,
                                    backgroundColor: "rgba(78, 115, 223, 0.05)",
                                    borderColor: "rgba(78, 115, 223, 1)",
                                },
                            ],
                        },
                        options: {
                            maintainAspectRatio: false,
                            legend: { display: true },
                            title: {},
                            scales: {
                                xAxes: [
                                    {
                                        gridLines: {
                                            color: "rgb(234, 236, 244)",
                                            zeroLineColor: "rgb(234, 236, 244)",
                                            drawBorder: false,
                                            drawTicks: false,
                                            borderDash: ["2"],
                                            zeroLineBorderDash: ["2"],
                                            drawOnChartArea: false,
                                        },
                                        ticks: { fontColor: "#858796", padding: 20 },
                                    },
                                ],
                                yAxes: [
                                    {
                                        gridLines: {
                                            color: "rgb(234, 236, 244)",
                                            zeroLineColor: "rgb(234, 236, 244)",
                                            drawBorder: false,
                                            drawTicks: false,
                                            borderDash: ["2"],
                                            zeroLineBorderDash: ["2"],
                                        },
                                        ticks: { fontColor: "#858796", padding: 20 },
                                    },
                                ],
                            },
                        },
                    };
                    var chart2 = {
                        type: "doughnut",
                        data: {
                            labels: ["Success", "Warning", "Danger"],
                            datasets: [
                                {
                                    label: "",
                                    backgroundColor: ["green", "orange", "red"],
                                    borderColor: ["#ffffff", "#ffffff", "#ffffff"],
                                    data: data.banCount,
                                },
                            ],
                        },
                        options: {
                            maintainAspectRatio: false,
                            legend: { display: false },
                            title: {},
                        },
                    };
                    var myChart1 = new Chart(ctx1, chart1);
                    var myChart2 = new Chart(ctx2, chart2);
                }
            };
            xhttp.open("GET", "/ban_json", true);
            xhttp.send();
        }

        function fab_request() {
            var ctx1 = document.getElementById("fabchart1").getContext("2d");
            var ctx2 = document.getElementById("fabchart2").getContext("2d");
            var ctx3 = document.getElementById("fabchart3").getContext("2d");
            var ctx4 = document.getElementById("fabchart4").getContext("2d");

            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    // Typical action to be performed when the document is ready:
                    var data = JSON.parse(xhttp.responseText);
                    document.getElementById("fab_temp").innerText = data.fab_temp;
                    document.getElementById("fab_date1").innerText = data.fab_date;
                    document.getElementById("fab_temp").style.color = Fab_Temp(
                        data.fab_temp
                    );
                    document.getElementById("fab_Tunit").style.color = Fab_Temp(
                        data.fab_temp
                    );

                    document.getElementById("fab_w").innerText = data.fab_w;
                    document.getElementById("fab_date2").innerText = data.fab_date;
                    document.getElementById("fab_w").style.color = Fab_W(data.fab_w);
                    document.getElementById("fab_Wunit").style.color = Fab_W(
                        data.fab_w
                    );

                    var chart1 = {
                        type: "line",
                        data: {
                            labels: data.fabdateList,
                            datasets: [
                                {
                                    label: "Width",
                                    fill: true,
                                    data: data.fabList1,
                                    backgroundColor: "rgba(78, 115, 223, 0.05)",
                                    borderColor: "rgba(78, 115, 223, 1)",
                                },
                            ],
                        },
                        options: {
                            maintainAspectRatio: false,
                            legend: { display: true },
                            title: {},
                            scales: {
                                xAxes: [
                                    {
                                        gridLines: {
                                            color: "rgb(234, 236, 244)",
                                            zeroLineColor: "rgb(234, 236, 244)",
                                            drawBorder: false,
                                            drawTicks: false,
                                            borderDash: ["2"],
                                            zeroLineBorderDash: ["2"],
                                            drawOnChartArea: false,
                                        },
                                        ticks: { fontColor: "#858796", padding: 20 },
                                    },
                                ],
                                yAxes: [
                                    {
                                        gridLines: {
                                            color: "rgb(234, 236, 244)",
                                            zeroLineColor: "rgb(234, 236, 244)",
                                            drawBorder: false,
                                            drawTicks: false,
                                            borderDash: ["2"],
                                            zeroLineBorderDash: ["2"],
                                        },
                                        ticks: { fontColor: "#858796", padding: 20 },
                                    },
                                ],
                            },
                        },
                    };
                    var chart2 = {
                        type: "doughnut",
                        data: {
                            labels: ["Success", "Warning", "Danger"],
                            datasets: [
                                {
                                    label: "",
                                    backgroundColor: ["green", "orange", "red"],
                                    borderColor: ["#ffffff", "#ffffff", "#ffffff"],
                                    data: data.fabCount1,
                                },
                            ],
                        },
                        options: {
                            maintainAspectRatio: false,
                            legend: { display: false },
                            title: {},
                        },
                    };

                    var chart3 = {
                        type: "line",
                        data: {
                            labels: data.fabdateList,
                            datasets: [
                                {
                                    label: "Width",
                                    fill: true,
                                    data: data.fabList2,
                                    backgroundColor: "rgba(78, 115, 223, 0.05)",
                                    borderColor: "rgba(78, 115, 223, 1)",
                                },
                            ],
                        },
                        options: {
                            maintainAspectRatio: false,
                            legend: { display: true },
                            title: {},
                            scales: {
                                xAxes: [
                                    {
                                        gridLines: {
                                            color: "rgb(234, 236, 244)",
                                            zeroLineColor: "rgb(234, 236, 244)",
                                            drawBorder: false,
                                            drawTicks: false,
                                            borderDash: ["2"],
                                            zeroLineBorderDash: ["2"],
                                            drawOnChartArea: false,
                                        },
                                        ticks: { fontColor: "#858796", padding: 20 },
                                    },
                                ],
                                yAxes: [
                                    {
                                        gridLines: {
                                            color: "rgb(234, 236, 244)",
                                            zeroLineColor: "rgb(234, 236, 244)",
                                            drawBorder: false,
                                            drawTicks: false,
                                            borderDash: ["2"],
                                            zeroLineBorderDash: ["2"],
                                        },
                                        ticks: { fontColor: "#858796", padding: 20 },
                                    },
                                ],
                            },
                        },
                    };
                    var chart4 = {
                        type: "doughnut",
                        data: {
                            labels: ["Success", "Warning", "Danger"],
                            datasets: [
                                {
                                    label: "",
                                    backgroundColor: ["green", "orange", "red"],
                                    borderColor: ["#ffffff", "#ffffff", "#ffffff"],
                                    data: data.fabCount2,
                                },
                            ],
                        },
                        options: {
                            maintainAspectRatio: false,
                            legend: { display: false },
                            title: {},
                        },
                    };

                    var myChart1 = new Chart(ctx1, chart1);
                    var myChart2 = new Chart(ctx2, chart2);
                    var myChart3 = new Chart(ctx3, chart3);
                    var myChart4 = new Chart(ctx4, chart4);
                }
            };
            xhttp.open("GET", "/fab_json", true);
            xhttp.send();
        }

        function bead_request() {
            var ctx1 = document.getElementById("beadChart1").getContext("2d");
            var ctx2 = document.getElementById("beadChart2").getContext("2d");

            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    // Typical action to be performed when the document is ready:
                    var data = JSON.parse(xhttp.responseText);
                    document.getElementById("bead_val").innerText = data.temperature;
                    document.getElementById("bead_date").innerText = data.dateinserted;
                    document.getElementById("bead_val").style.color = Bead_Temp(
                        data.temperature
                    );
                    document.getElementById("bead_unit").style.color = Bead_Temp(
                        data.temperature
                    );
                    var chart1 = {
                        type: "line",
                        data: {
                            labels: data.beaddateList,
                            datasets: [
                                {
                                    label: "Width",
                                    fill: true,
                                    data: data.beadList,
                                    backgroundColor: "rgba(78, 115, 223, 0.05)",
                                    borderColor: "rgba(78, 115, 223, 1)",
                                },
                            ],
                        },
                        options: {
                            maintainAspectRatio: false,
                            legend: { display: true },
                            title: {},
                            scales: {
                                xAxes: [
                                    {
                                        gridLines: {
                                            color: "rgb(234, 236, 244)",
                                            zeroLineColor: "rgb(234, 236, 244)",
                                            drawBorder: false,
                                            drawTicks: false,
                                            borderDash: ["2"],
                                            zeroLineBorderDash: ["2"],
                                            drawOnChartArea: false,
                                        },
                                        ticks: { fontColor: "#858796", padding: 20 },
                                    },
                                ],
                                yAxes: [
                                    {
                                        gridLines: {
                                            color: "rgb(234, 236, 244)",
                                            zeroLineColor: "rgb(234, 236, 244)",
                                            drawBorder: false,
                                            drawTicks: false,
                                            borderDash: ["2"],
                                            zeroLineBorderDash: ["2"],
                                        },
                                        ticks: { fontColor: "#858796", padding: 20 },
                                    },
                                ],
                            },
                        },
                    };
                    var chart2 = {
                        type: "doughnut",
                        data: {
                            labels: ["Success", "Warning", "Danger"],
                            datasets: [
                                {
                                    label: "",
                                    backgroundColor: ["green", "orange", "red"],
                                    borderColor: ["#ffffff", "#ffffff", "#ffffff"],
                                    data: data.beadCount,
                                },
                            ],
                        },
                        options: {
                            maintainAspectRatio: false,
                            legend: { display: false },
                            title: {},
                        },
                    };
                    var myChart1 = new Chart(ctx1, chart1);
                    var myChart2 = new Chart(ctx2, chart2);
                }
            };
            xhttp.open("GET", "/bead_json", true);
            xhttp.send();
        }

        function tread_request() {
            var ctx1 = document.getElementById("treadChart1").getContext("2d");
            var ctx2 = document.getElementById("treadChart2").getContext("2d");
            var ctx3 = document.getElementById("treadChart3").getContext("2d");
            var ctx4 = document.getElementById("treadChart4").getContext("2d");

            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    // Typical action to be performed when the document is ready:
                    var data = JSON.parse(xhttp.responseText);
                    document.getElementById("tread_pos").innerText = data.tread_pos;
                    document.getElementById("tread_date1").innerText = data.tread_date;
                    document.getElementById("tread_pos").style.color = Tread_Pos(
                        data.tread_pos
                    );
                    document.getElementById("tread_unit1").style.color = Tread_Pos(
                        data.tread_pos
                    );

                    document.getElementById("tread_speed").innerText = data.tread_speed;
                    document.getElementById("tread_date2").innerText = data.tread_date;
                    document.getElementById("tread_speed").style.color = Tread_Speed(
                        data.tread_speed
                    );
                    document.getElementById("tread_unit2").style.color = Tread_Speed(
                        data.tread_speed
                    );

                    var chart1 = {
                        type: "line",
                        data: {
                            labels: data.treaddateList,
                            datasets: [
                                {
                                    label: "Width",
                                    fill: true,
                                    data: data.treadList1,
                                    backgroundColor: "rgba(78, 115, 223, 0.05)",
                                    borderColor: "rgba(78, 115, 223, 1)",
                                },
                            ],
                        },
                        options: {
                            maintainAspectRatio: false,
                            legend: { display: true },
                            title: {},
                            scales: {
                                xAxes: [
                                    {
                                        gridLines: {
                                            color: "rgb(234, 236, 244)",
                                            zeroLineColor: "rgb(234, 236, 244)",
                                            drawBorder: false,
                                            drawTicks: false,
                                            borderDash: ["2"],
                                            zeroLineBorderDash: ["2"],
                                            drawOnChartArea: false,
                                        },
                                        ticks: { fontColor: "#858796", padding: 20 },
                                    },
                                ],
                                yAxes: [
                                    {
                                        gridLines: {
                                            color: "rgb(234, 236, 244)",
                                            zeroLineColor: "rgb(234, 236, 244)",
                                            drawBorder: false,
                                            drawTicks: false,
                                            borderDash: ["2"],
                                            zeroLineBorderDash: ["2"],
                                        },
                                        ticks: { fontColor: "#858796", padding: 20 },
                                    },
                                ],
                            },
                        },
                    };
                    var chart2 = {
                        type: "doughnut",
                        data: {
                            labels: ["Success", "Warning", "Danger"],
                            datasets: [
                                {
                                    label: "",
                                    backgroundColor: ["green", "orange", "red"],
                                    borderColor: ["#ffffff", "#ffffff", "#ffffff"],
                                    data: data.treadCount1,
                                },
                            ],
                        },
                        options: {
                            maintainAspectRatio: false,
                            legend: { display: false },
                            title: {},
                        },
                    };

                    var chart3 = {
                        type: "line",
                        data: {
                            labels: data.treaddateList,
                            datasets: [
                                {
                                    label: "Width",
                                    fill: true,
                                    data: data.treadList2,
                                    backgroundColor: "rgba(78, 115, 223, 0.05)",
                                    borderColor: "rgba(78, 115, 223, 1)",
                                },
                            ],
                        },
                        options: {
                            maintainAspectRatio: false,
                            legend: { display: true },
                            title: {},
                            scales: {
                                xAxes: [
                                    {
                                        gridLines: {
                                            color: "rgb(234, 236, 244)",
                                            zeroLineColor: "rgb(234, 236, 244)",
                                            drawBorder: false,
                                            drawTicks: false,
                                            borderDash: ["2"],
                                            zeroLineBorderDash: ["2"],
                                            drawOnChartArea: false,
                                        },
                                        ticks: { fontColor: "#858796", padding: 20 },
                                    },
                                ],
                                yAxes: [
                                    {
                                        gridLines: {
                                            color: "rgb(234, 236, 244)",
                                            zeroLineColor: "rgb(234, 236, 244)",
                                            drawBorder: false,
                                            drawTicks: false,
                                            borderDash: ["2"],
                                            zeroLineBorderDash: ["2"],
                                        },
                                        ticks: { fontColor: "#858796", padding: 20 },
                                    },
                                ],
                            },
                        },
                    };
                    var chart4 = {
                        type: "doughnut",
                        data: {
                            labels: ["Success", "Warning", "Danger"],
                            datasets: [
                                {
                                    label: "",
                                    backgroundColor: ["green", "orange", "red"],
                                    borderColor: ["#ffffff", "#ffffff", "#ffffff"],
                                    data: data.treadCount2,
                                },
                            ],
                        },
                        options: {
                            maintainAspectRatio: false,
                            legend: { display: false },
                            title: {},
                        },
                    };

                    var myChart1 = new Chart(ctx1, chart1);
                    var myChart2 = new Chart(ctx2, chart2);
                    var myChart3 = new Chart(ctx3, chart3);
                    var myChart4 = new Chart(ctx4, chart4);
                }
            };
            xhttp.open("GET", "/tread_json", true);
            xhttp.send();
        }

        function cur_request() {

            var ctx1 = document.getElementById("curChart1").getContext("2d");
            var ctx2 = document.getElementById("curChart2").getContext("2d");
            var ctx3 = document.getElementById("curChart3").getContext("2d");
            var ctx4 = document.getElementById("curChart4").getContext("2d");

            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    // Typical action to be performed when the document is ready:
                    var data = JSON.parse(xhttp.responseText);
                    document.getElementById("cur_time").innerText = data.cur_time;
                    document.getElementById("cur_date1").innerText = data.cur_date;
                    document.getElementById("cur_time").style.color = Cur_Time(
                        data.cur_time
                    );
                    document.getElementById("cur_unit1").style.color = Cur_Time(
                        data.cur_time
                    );

                    document.getElementById("cur_temp").innerText = data.cur_temp;
                    document.getElementById("cur_date2").innerText = data.cur_date;
                    document.getElementById("cur_temp").style.color = Cur_Temp(
                        data.cur_temp
                    );
                    document.getElementById("cur_unit2").style.color = Cur_Temp(
                        data.cur_temp
                    );

                    var chart1 = {
                        type: "line",
                        data: {
                            labels: data.curdateList,
                            datasets: [
                                {
                                    label: "Width",
                                    fill: true,
                                    data: data.curList1,
                                    backgroundColor: "rgba(78, 115, 223, 0.05)",
                                    borderColor: "rgba(78, 115, 223, 1)",
                                },
                            ],
                        },
                        options: {
                            maintainAspectRatio: false,
                            legend: { display: true },
                            title: {},
                            scales: {
                                xAxes: [
                                    {
                                        gridLines: {
                                            color: "rgb(234, 236, 244)",
                                            zeroLineColor: "rgb(234, 236, 244)",
                                            drawBorder: false,
                                            drawTicks: false,
                                            borderDash: ["2"],
                                            zeroLineBorderDash: ["2"],
                                            drawOnChartArea: false,
                                        },
                                        ticks: { fontColor: "#858796", padding: 20 },
                                    },
                                ],
                                yAxes: [
                                    {
                                        gridLines: {
                                            color: "rgb(234, 236, 244)",
                                            zeroLineColor: "rgb(234, 236, 244)",
                                            drawBorder: false,
                                            drawTicks: false,
                                            borderDash: ["2"],
                                            zeroLineBorderDash: ["2"],
                                        },
                                        ticks: { fontColor: "#858796", padding: 20 },
                                    },
                                ],
                            },
                        },
                    };
                    var chart2 = {
                        type: "doughnut",
                        data: {
                            labels: ["Success", "Warning", "Danger"],
                            datasets: [
                                {
                                    label: "",
                                    backgroundColor: ["green", "orange", "red"],
                                    borderColor: ["#ffffff", "#ffffff", "#ffffff"],
                                    data: data.curCount1,
                                },
                            ],
                        },
                        options: {
                            maintainAspectRatio: false,
                            legend: { display: false },
                            title: {},
                        },
                    };

                    var chart3 = {
                        type: "line",
                        data: {
                            labels: data.curdateList,
                            datasets: [
                                {
                                    label: "Width",
                                    fill: true,
                                    data: data.curList2,
                                    backgroundColor: "rgba(78, 115, 223, 0.05)",
                                    borderColor: "rgba(78, 115, 223, 1)",
                                },
                            ],
                        },
                        options: {
                            maintainAspectRatio: false,
                            legend: { display: true },
                            title: {},
                            scales: {
                                xAxes: [
                                    {
                                        gridLines: {
                                            color: "rgb(234, 236, 244)",
                                            zeroLineColor: "rgb(234, 236, 244)",
                                            drawBorder: false,
                                            drawTicks: false,
                                            borderDash: ["2"],
                                            zeroLineBorderDash: ["2"],
                                            drawOnChartArea: false,
                                        },
                                        ticks: { fontColor: "#858796", padding: 20 },
                                    },
                                ],
                                yAxes: [
                                    {
                                        gridLines: {
                                            color: "rgb(234, 236, 244)",
                                            zeroLineColor: "rgb(234, 236, 244)",
                                            drawBorder: false,
                                            drawTicks: false,
                                            borderDash: ["2"],
                                            zeroLineBorderDash: ["2"],
                                        },
                                        ticks: { fontColor: "#858796", padding: 20 },
                                    },
                                ],
                            },
                        },
                    };
                    var chart4 = {
                        type: "doughnut",
                        data: {
                            labels: ["Success", "Warning", "Danger"],
                            datasets: [
                                {
                                    label: "",
                                    backgroundColor: ["green", "orange", "red"],
                                    borderColor: ["#ffffff", "#ffffff", "#ffffff"],
                                    data: data.curCount2,
                                },
                            ],
                        },
                        options: {
                            maintainAspectRatio: false,
                            legend: { display: false },
                            title: {},
                        },
                    };

                    var myChart1 = new Chart(ctx1, chart1);
                    var myChart2 = new Chart(ctx2, chart2);
                    var myChart3 = new Chart(ctx3, chart3);
                    var myChart4 = new Chart(ctx4, chart4);
                }
            };
            xhttp.open("GET", "/cur_json", true);
            xhttp.send();
        }

        function ban_alert() {
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    var data = JSON.parse(xhttp.responseText);

                    if (data.sheet_width > 24 && data.sheet_width < 16) {
                        toastr.error('Banbury width Alert!');

                    }
                }

            }
            xhttp.open("GET", "/ban_json", true);
            xhttp.send();
        }

        function fab_alert() {
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    var data = JSON.parse(xhttp.responseText);
                    console.log(data.fab_w)
                    if (data.fab_w > 1.5 && data.fab_w < 0.5) {
                        toastr.error('Fabric width Alert!');
                    }

                    if (data.fab_temp > 600 && data.fab_temp < 500) {
                        toastr.error('Fabric temperature Alert!');
                    }

                }

            }
            xhttp.open("GET", "/fab_json", true);
            xhttp.send();
        }

        function bead_alert() {
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    var data = JSON.parse(xhttp.responseText);
                    //  console.log(data.temperature)
                    if (data.temperature > 700 && data.temperature < 600) {

                        toastr.error('Bead Winder temperature Alert!');

                    }
                }

            }
            xhttp.open("GET", "/bead_json", true);
            xhttp.send();
        }

        function tread_alert() {
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    var data = JSON.parse(xhttp.responseText);

                    if (data.tread_pos > 2 && data.tread_pos < -2) {

                        toastr.error('Treading cutter position Alert!');

                    }
                    if (data.tread_speed > 3 && data.tread_speed < -3) {

                        toastr.error('Treading cutter speed Alert!');

                    }
                }

            }
            xhttp.open("GET", "/tread_json", true);
            xhttp.send();
        }

        function cur_alert() {
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    var data = JSON.parse(xhttp.responseText);

                    if (data.cur_time > 35 && data.cur_time < 30) {

                        toastr.error('Curing machine time Alert!');

                    }

                    if (data.cur_temp > 250 && data.cur_temp < 200) {

                        toastr.error('Curing machine temperature Alert!');

                    }
                }

            }
            xhttp.open("GET", "/cur_json", true);
            xhttp.send();
        }

    </script>
</head>

<body id="page-top">
    <div id="wrapper">
        {% include "main/includes/sidebar.html" %}
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <div class="container-fluid">{% block content %} {% endblock %}</div>
            </div>

            <!--<div class="footer fixed-bottom bg-light text-center font-weight-bolder" id="alert">
                <footer style="height: 100px;">
                    <p style="color: red;" id="alert_val1"></p>
                    <p style="color: red;" id="alert_val2"></p>
                    <p style="color: red;" id="alert_val3"></p>
                    <p style="color: red;" id="alert_val4"></p>
                    <p style="color: red;" id="alert_val5"></p>
                    <p style="color: red;" id="alert_val6"></p>
                    <p style="color: red;" id="alert_val7"></p>
                    <p style="color: red;" id="alert_val8"></p>
                </footer>
            </div>-->
            <footer class="bg-white sticky-footer" id="credits">
                <div class="container my-auto">
                    <div class="text-center my-auto copyright">
                        <span>Copyright © Scout 2020</span>
                    </div>
                </div>
            </footer>

        </div>

        <a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>
</body>

</html>